 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    background-color: #d69aa4;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    opacity: 0.7;
}
.home-icon{
    float: left;
    color: rgb(250, 250, 250);
    font-size: 30px;
    margin-top: 12px;
    margin-left: 10px;

}
.lh a::after{
  position: absolute;
  content: "";
  width: 0;
  height:3px;
  top: 0;
  left: 0;
  background-color:rgb(182, 50, 94);
  opacity: .7;
  margin-top: 24px;
  z-index: 3;
}
.lh a:hover::after{
  width: 100%;
  height: 3px;
  opacity: .7;
  transition: .5s;
} 
.search{
    width: 250px;
    height: 30px;
    margin-top: 14px;
    border-radius: 20px;
    margin-left: 70px;
}
.header-icon-search{
    float: left;
    font-size: 2opx;
    color: black;
    position: absolute;
    margin-top: 21px;
    margin-left: -230px;
}
.links li{
    display: inline-block;
    margin: 18px 23px 0 0;
}
.links {
    text-decoration: none;
    float: right;
    margin-right: 30px;
}
.links a{
    text-decoration: none;
    color: white;
    position: relative;
}
.blog-dropdown{
    position: relative;
    padding-bottom: 10px;
}
.dropdown-list{
    position: absolute;
    width: 150px;
    height: 155px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid rgb(179, 42, 88);
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
    z-index: 12;
}
.dropdown-list li{
    display: block;
    margin: 25px 0;
}
.dropdown-list a{
   color: #d69aa4;
}
.blog-dropdown:hover .dropdown-list{
  visibility: visible;
  z-index: 12;
}
.sec1{
width: 100%;
height: 100vh;
background-image: url(../images/WhatsApp\ Image\ 2025-09-04\ at\ 12.39.53\ AM.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
}
.sec1-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}
.home-content{
    width: 760px;
    height: 200px;
    position: absolute;
    color: aliceblue;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: brown; */
}

.home-title1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-left: 4opx;
}
.home-p{
    text-align: center;
    color: rgba(255, 255, 255 ,0.7);
    letter-spacing: 2px;
}
.home-button{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
}
.btn{
     margin-left: 200px; 
     margin-top: 30px;
}
.btn2{
    background-color: gray;
}
.home-button:hover{
    opacity: 0.5;
}
/*                                            section one                                                                                       */
.welcome-main-title{
    font-size: 38px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
}
.welcome-line{
    display: block;
    width: 75px;
    height: 4px;
    background-color:pink;
    margin: auto;
 margin-bottom: 100px; 
     margin-top: 25px; 

}
.welcome-container{
    width: 95%;
     height: 400px; 
    margin: auto;
      /* background-color: rgb(1, 1, 17);   */
}
.p-gray{
    color: gray;
}
.welcome-parent{
    position: relative;
}

.info1,.info2,.info3{
     width: 25%;
 height: 220px;
 text-align: center;
 border: 2px solid pink;
 border-radius: 12px;
 float: left;
 padding: 18px 14px;
 margin-left: 6%;
 position: relative;
}
.info::after{
  position: absolute;
  content: "";
  width:0%;
  height:0%;
  top: 0;
  left: 0;
  background-color: pink;
  opacity: 1;
  z-index: -1;
}
.info:hover::after{
  width: 100%;
  height: 100%; 
  opacity: .7;
  transition: .7s;
 background-color:pink;
}
 .icone-welcome1{ 
    font-size: 30px;
    color: gold;
}
 .icone-welcome2{
 font-size: 30px;
color: green;
 }
  .icone-welcome3{
   font-size: 30px;
   color: rgb(0, 102, 255);
  }
.welcome-parent p{
    margin-top: 20px;
}
.linkp1{
    color:gold ;
}
.linkp2{
    color: green;
}
.linkp3{
    color: blue;
}

/* //////////////////////////////////////////////////section2/////////////////////////////////////////////////////////////////////////// */
.sec3-contaner{
  width: 100%;
  height: 800px;
  background-color:rgb(235, 198, 204);
  margin: auto;
  margin-top: 200px;
}
.sec3-title{
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color:black;
}
.sec3-line{
  width: 150px;
  height: 4px;
  margin: auto;
  background-color:#d69aa4;
  margin-top: 15px;
}
.sec3-parent{
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: 50px;
}
.sec3-item{
  width: 25%;
  float: left;
  position: relative;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.sec3-item1{
  margin-left: 8%;
}
.sec3-item2{
  margin: 0 5%;
}
.sec3-item img{
  width: 100%;
  height: 40%;
}
.sec3-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 90px;
  color: aliceblue;
  text-align: center;
  visibility: hidden;
}
.sec3-info h2{
  font-size: 40px;
  color: grey;
}
.sec3-info p{
  font-size: 20px;
}
.sec3-info i{
  font-size: 30px;
  color: rgb(171, 171, 171);
}
.sec3-item5{
  margin-left: 15%;
  margin:0 5%;
}
.sec3-item4{
  margin-left: 8%;
}
.sec3-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: o;
  background-color: rgba(0, 0,0, .7);
  visibility: hidden;
}
.sec3-item:hover .sec3-overlay {
  visibility: visible;
}
.sec3-item:hover .sec3-info{
  visibility: visible;
}
  /* ////////////////////////////////////////////////////////////section3/////////////////////////////////////////////////////////////////////////// */
  .offer-title{
  text-align: center;
  font-size: 40px;
  margin-top: 150px;
}
.offer-line{
  width: 100px;
  height: 3px;
  background-color: #f7c9d1;
  margin: auto;
  margin-top: 10px;
}


.offer-contaner{
  width: 90%;
  height: 600px;
  margin: auto;
  overflow: auto;
  margin-top: 50px;
}
.offer-parent{
  width:100%;
  height:600px ;
}
.offer-item{
  width: 25%;
  height:35%;
  float: left;
  padding: 20px 0px 10px 20px;
  margin-bottom:4% ;
  border: 3px solid #f7c9d1;
  border-radius: 10px;
  position: relative; 
}
.offer-item2{
  margin: 0 12.5%;
}
.offer-item i{
  float: left;
  font-size: 30px;
  margin-left: -13px;
  margin-right: 10px;
  /* color: rgb(16, 90, 230); */
  z-index: 3;
}
.offer-item5{
  margin: 0 12.5%;
}
.offer-item h2{
  font-size: 30px;
  padding-left:30px ;
}
.offer-item p{
  font-size: 17px;
  padding-left:30px;
  padding-right: 8px;
  margin-top: 8%;
  color: rgb(145, 144, 144);
}
.offer-item5 p{
  margin-top: 40px;
  margin-left: 10px;
}
.offer-item::after{
  position: absolute;
  content:"";
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: pink;
  opacity: 1;
}
.offer-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: .6;
  transition: 1s;
}
.offer-item:hover p{
  color:rgb(0, 0, 0);
}
.offer-item:hover h2{
  color:rgb(182, 64, 129);
}
.s{
    color: yellow;
}
.t{
    color: green;
}
.w{
    color: rgb(83, 83, 253);
}
.f{
    color: rgb(226, 45, 76);
}
.h{
    color: silver;
    width: 15px;
    height: 15px;
}
.d{
    color: rgba(31, 166, 255, 0.87);
}
/* /////////////////////////////////////////////////// section4////////////////////////////////////////////////// */
.space-contaner{
  width: 80%;
  margin: auto;
  /* background-color: brown; */
  margin-top: -50px;
}
.space-parent{
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  position: relative;
}
.space-img{
  float: right;
}
.space-img img{
  width: 300px;
  height: 500px;
}
.space-h2{
  font-size: 50px;
}
div.space-line{
  width: 100px;
  height: 4px;
  background-color:pink;
  margin-bottom: 35px;
  margin-top: 5px;
}
.space-info{
  margin-top: 50px;
  float: left;
}
.space-p1{
  margin-bottom: 35px;
  font-size: 18px;
  color: rgb(85, 85, 85);
}
.space-p2{
  width: 100%;
  line-height: 50px;
  font-size: 17px;
  color: rgb(76, 75, 75);
}
.space-p2 i{
  color:pink;
}
.space-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin-top: 30px;
  float: right;
  position: absolute;
}
.space-circle1{
  margin-left: 100px; 
  background-color: rgb(79, 78, 78);
}
.space-circle2{
  margin-left: 140px;
  background-color: rgb(171, 168, 168);
}
.space-circle3{
  margin-left: 180px;
  background-color: rgb(171, 168, 168);
}
.space-circle2:hover{
  background-color: rgb(79, 78, 78);
}
.space-circle3:hover{
  background-color: rgb(79, 78, 78);
}

  
/* /////////////////////////////////////////////////////////////section5//////////////////////////////////////////////////// */
.sec6-contaner{
  width: 100%;
  height: 300px;
   margin-top: 200px; 
  background-image: url(../images/WhatsApp\ Image\ 2025-09-04\ at\ 12.39.53\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.sec6-parent{
  width: 80%;
  height: 150px;
  margin: auto;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}
.sec6-item{
  width:22%;
  height: 10%;
  float: left;
  margin: auto;
  text-align:center ;
  padding: 15px;
  margin-right: 3%;
  font-size: 25px;
  color: rgb(3, 3, 3);
}
.sec6-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}
.sec6-item i{
  color: rgb(248, 224, 224);
  margin-bottom: 20px;
  font-size: 30px;
}
/* /////////////////////////////////////////////////sectin6////////////////////////////////////////////// */
.Collection-title{
  text-align: center;
  margin-top: 130px;
  font-size: 30px;
}
.Collection-line{
  width: 200px;
  height: 4px;
  background-color:#d69aa4;
  margin: auto;
  margin-top: 10px;
}
.Collection-contaner{
  width: 100%;
  /* height: 400px; */
  margin-top: 50px;
}
.Collection-parent{
  width: 75%;
   height: 100%; 
  margin: auto;
  /* background-color: rgb(92, 49, 173); */
}
.Collection-item{
  width: 30%;
  height: 65%;
  float: left;
  text-align: center;
  padding: 10px;
  border: 2px solid #d69aa4;
  border-radius: 10px;
  position: relative;
}
.Collection-item2{
  margin-left: 5%;
  margin-right: 5%;
}
.cp{
  background-color: #d69aa4 ;
  border-radius: 8PX;
  width: 75%;
  /* text-align: center; */
  margin-left: 40PX;
  opacity: 0.8;
  margin-top: 10PX;
}
.Collection-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2.5px solid #d69aa4;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding:25px 15px 30px 12px;
  font-size: 19px;
}
.Collection-circle p{
  margin-top: 50px;
  text-align: center;
}
.Collection-item p{
  line-height: 40px;
}
.Collection-item button{
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border-radius: 9px;
  border: 2px solid #d69aa4;
  background-color: rgb(253, 244, 232);
  position: absolute;
  z-index: 5;
  margin-left: -78px;

}
.Collection-item::after{
  position: absolute;
  content:"";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color:#d69aa4 ;
  opacity: O.8;
  transition:ease-in-out .5s;
}
.Collection-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: .7;
  transition: .7s;
}
/* /////////////////////////////////////////////////////SECTION7////////////////////////////////////////////////// */
.sec8-contaner{
  width: 100%;
  height: 400px;
  margin-top: 160px;
  background-image: url(../images/celina-yoo-RPbKJZZlwS8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.sec8-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
}
.sec8-parent{
  width: 60%;
  height: 100%;
  margin: auto;
}
.sec8-item{
  width: 45%;
  height: 100%;
  /* background-color: blue;  */
  float: left;
  position: relative;
}
.sec8-item1{
  margin-right:10% ;
}
.sec8-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 40px;
  background-size: cover;
  position: absolute;
  margin-top: 80px;
}
.sec8-photo1{
  background-image: url(../images/WhatsApp\ Image\ 2025-09-14\ at\ 7.39.33\ AM.jpeg);
}
.sec8-photo2{
  background-image: url(../images/WhatsApp\ Image\ 2025-09-25\ at\ 04.58.35_135b7473.jpg);
}
.sec8-item span{
  width: 350px;
  position: absolute;
  color: aliceblue;
  margin-top: 90px;
  margin-left: 160px;
   margin-bottom: 30px; 
  /* background-color: #d69aa4; */
}
.sec8-name{
  font-size: 30px;
  line-height: 30px;
}
.sec8-jop{
  margin-top: 30px;
  font-size: 18px;
}
.sec8-jop span{
  color:palevioletred;
}
.sec8-pp{
  color: rgb(255, 255, 255);
  margin:10px;
  margin-top: 200px;
  margin-left: 60px
}
/* ///////////////////////////////////////////////section8//////////////////////////////////////////////////////////////// */
.team-title{
  margin: auto;
  text-align: center;
  margin-top:100px;
  font-size: 40px;
} 
.team-line{
  width: 100px;
  height: 4px;
  margin: auto;
  background-color: #d69aa4;
  margin-top: 20px;
}
.team-contaner{
  width:80% ;
  height: 400px;
  margin: auto;
  margin-top: 80px; 
  
}
.team-item{
  float: left;
  width: 30%;
  background-color: rgb(255, 246, 246);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
.team-item-2{
  margin:0 5% ;
}
.team-img{
  width: 90%;
  margin: auto;
  position: relative;
}
.team-img img{
  width: 100%;
  border-radius: 20px;
}
.team-icon{
  position: absolute;
  top: 0;
  left: o;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  /* color: blue; */
  visibility: hidden;
}
.team-item:hover .team-icon{
  visibility: visible;
}
.team-item a{
  display: block;
  width: 40px;
  height: 40px;
  background-color:palevioletred;
  color: white;
  margin-left: auto;
}
.team-icon a i{
  line-height: 40px;
}
.team-info-work{
  color: rgb(100, 93, 93);
  font-size: 20px;
  margin: 10px 0;
}
.team-item:hover .team-info-work{
  color:palevioletred;
}
.team-item:hover .team-info-title{
  color: rgb(255, 255, 255);
  background-color: palevioletred;
  border-radius: 13px;
  width: 200px;
  margin-left: 50px;
}

.team-item::after{
  position: absolute;
  content:"";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #b9a2a6;
  opacity: 1;
  border-radius: 8px;
}
.team-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: .5;
  transition: 1s;}
  /* /////////////////////////////////////////////////////////////////////////////////////////////// */
  .news-title{
font-size: 40px;
text-align: center;
margin-top:200px;
}
.news-line{
  width: 100px;
  height: 4px;
  background-color: #d69aa4;
  margin: auto;
  margin-top: 10px;
}
.news-contaner{
  width: 100%;
  height: 500px;
  margin-top: 80px;
}
.news-parent{
  width: 80%;
  height: 100%;
  margin: auto;
}
.news-item{
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 20px;
  border: 2px solid #d69aa4;
  border-radius: 10px;
}
.news-item2{
  margin-left: 5%;
  margin-right: 5%;
}
.news-item img{
  width: 250px;
  height: 200px;
  position: absolute;
  left: 60px;
  border-radius: 10px;
  z-index: 55;
}
.news-face{
  width: 100%;
  height: 100px;
  margin-top: 220px;
  margin-left: 10px;
}
.news-item span{
  margin-right: 10px;
}
.news-item i{
  color:palevioletred ;
}
.news-jop{
  font-size: 18px;
  margin-top: -65px;
  margin-left: 65px;
  position: absolute;
}
.news-jop1{
  margin-left: 45px;
}
.news-work{
  margin-top: -20px;
  color: rgb(117, 117, 117);
}
.news-link{
  position: absolute;
  top: 450px;
  left:140px;
  z-index: 55;
  text-decoration:none ;
  color: palevioletred ;
}
.news-item::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color:rgb(94, 94, 94);
  opacity: 1;
  transition: ease-in-out .7s;
  z-index: -1;
}
.news-item:hover::after{
  width: 100%;
  height: 100%;
  opacity: .7;
  transition:.7s;
}
.news-item:hover .news-jop{
  z-index: 50;
  color: rgb(252, 252, 252);
}
.news-item:hover .news-work{
  color:rgb(0, 0, 0);
}
/* //////////////////////////////////////////section10///////////////////////////////////////////////////////////////////////// */
.last-contaner{
  width: 100%;
  height: 350px;
  background-color: #d69aa4;
  opacity: 0.7;
  margin-top: 100px;

} 
.last-parent{
  width: 40%;
  height: 100%;
  margin: auto;
  /* background-color: brown; */
   padding: 20px;
}
.last-img{
  width: 50%;
  height: 200px;
  margin: auto;
  background-image: url(../images/photo_5953861185759724965_y.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.last-item{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(192, 99, 130);
  opacity: 0.7;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}
.last-item1{
  margin-left:95px;
}
.last-item i{
  margin-top: 10px;
  font-size: 30px;
  color: aliceblue;
}
.last-pp{
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 15px;
  color: white;
}
.last-item:hover{
  background-color: rgb(228, 13, 84);
}